.beacon.messages {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        position: relative;
        margin: 0 0 1px 0;
        padding: 5px 10px;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: #ccc;

        .btn.delete {
            display: none;
            font-weight: bold;
            float: right;
            padding: 0 6px;
            margin-right: -10px;
            border: 1px dashed #ddd;
            background: none;
            color: #ddd;
            border-radius: 30px !important;
            
            &:hover {
                border-style: solid;
                border-color: #CC0000;
                color: #CC0000;
            }
        }

        &:before {
            display: inline-block;
            white-space: nowrap;
            content: attr(data-when-ago);
            color: #ccc;
            font-size: 12px;
            width: 30px;
        }

        &[data-when-ago=""] {
            border-top-style: dashed;
        }

        &[data-type="warning"] {
            border-top-color: #FF8800;

            &:before {
                color: #ff8800;
            }
        }
        
        &:hover {
            .btn.delete {
                display: inline-block;
            }
        }
    }
}

@media (max-width: 767px) {
    li .btn.delete {
        display: inline-block !important;
    }
}