.user {
    transition: top ease 500ms;
    position: fixed;
    top: 20px;
    right: 20px;
    max-width: 240px;
    box-shadow: #999 0 2px 10px;
    background-color: #fff;

    .hide-button {
        overflow: hidden;
        transition: all ease 500ms;
        cursor: pointer;
        position: absolute;
        right: 100%;
        top: 0;
        padding: 5px 8px;
        background-color: #000;
        text-decoration: none;
        color: #fff;
    }

    .avatar {
        transition: all ease 250ms;
        overflow: hidden;
        height: 144px;
        img {
            transition: all ease 250ms;
            margin-top: -48px;
            width: 240px;
            height: 240px;
            display: block;
        }
    }

    .name {
        overflow: hidden;
        padding: 5px 10px;
    }

    .beacon.messages {
        font-size: 12px;

        li .btn.delete {
            display: none;

            &:hover {
                display: none;
            }
        }

        li:before {
            display: none;
        };
    }

    &.stand-by {
        top: 100%;
        margin-top: -100px;
        cursor: pointer;
        background-color: transparent;
        box-shadow: none;

        .avatar {
            overflow: visible;
            height: auto;
            img {
                margin-top: 0;
                border-radius: 80px;
                width: 80px;
                height: 80px;
                box-shadow: rgba(0, 0, 0, 0.8) 0 2px 10px;
            }
        }

        .hide-button {
            right: -25%;
            opacity: 0;
        }

        .name, .mode, .beacon.messages {
            display: none;
        }
    }

    &.online {
    }
}

@media (max-width: 767px) {
}