{% extends 'layout.html' %}
{% block htitle %}Management - {{ super() }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="/css/management.base.css"/>
{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span12">
        <article class="primary">
            <h1>{% block primary_title %}Management{% endblock %}</h1>
            {% block primary_content %}{% endblock %}
        </article>
    </div>
</div>
<article class="user">
    <div class="avatar"><img src="{{ nep.user.gravatar() }}?s=320" title="{{ nep.user.name }}"/></div>
    <div class="name">{{ nep.user.name }}</div>
    <nav class="mode">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </nav>
    <ul class="beacon messages"></ul>
    <a class="hide-button" title="Hide the user card">→</a>
</article>
{% endblock %}
{% block js %}
{{ super() }}
{% endblock %}