{% extends 'layout.html' %}
{% block htitle %}Management - {{ super() }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="/css/management.base.css"/>
{% endblock %}
{% block content %}
<div class="row-fluid">
    <aside class="span3">
        <article class="user">
            <h1 title="{{ nep.user.name }}"><span>{{ nep.user.name[0] }}</span></h1>
        </article>
        <nav class="mode">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </nav>
    </aside>
    <div class="span9">
        <article class="primary">
            <h1>{% block primary_title %}Management{% endblock %}</h1>
            {% block primary_content %}{% endblock %}
        </article>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$(document).ready(function () {

});
</script>
{% endblock %}