{% extends 'layout.html' %}
{% block htitle %}Management - {{ super() }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="/css/dashboard.css"/>
{% endblock %}
{% block content %}
<div class="row">
    <div class="span3">
        <article class="fp user">
            <h1>{{ nep.user.name }}</h1>
        </article>
        <article class="mode">
        </article>
    </div>
    <div class="span9">
        <article class="primary">
            <h1>{% block primary_title %}Management{% endblock %}</h1>
            {% block primary_content %}{% endblock %}
        </article>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$(document).ready(function () {

});
</script>
{% endblock %}