{% extends 'layout.html' %}
{% block htitle %}Login - {{ super() }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="css/security.authentication.css"/>
{% endblock %}
{% block content %}
<form>
    <div class="row inputs">
        <div class="large-12 columns">
            <input name="u" type="email" placeholder="Email address" class="large-12.columns"/>
            <input name="p" type="password" placeholder="Password" class="large-12.columns"/>
        </div>
    </div>
    <div class="row actions">
        <div class="large-12 columns">
            <button class="button small expand">Login</button>
        </div>
    </div>
</form>
<div id="feedback" class="reveal-modal medium">
    <h2>Just so you know...</h2>
    <p class="lead"></p>
    <p class="support"></p>
    <a class="close-reveal-modal">&#215;</a>
</div>
{% endblock %}
{% block js %}
<script>
$(document).ready(function () {
    var $form = $('form'),
        $feedback = $('#feedback');

    $feedback.find('.close-reveal-modal').on('click', function (e) {
        $feedback.foundation('reveal', 'close');
    });

    $form.submit(function (e) {
        e.preventDefault();

        var u = $form.find('input[name=u]').val(),
            p = $form.find('input[name=p]').val();

        $.ajax({
            url: '/login',
            method: 'post',
            data: {
                u: u,
                p: p
            },
            success: function (r) {
                console.log(r);
            },
            statusCode: {
                400: function () {
                    $feedback.find('.lead').html('Forgot to give the username or password');
                    $feedback.find('.support').html('Please give the username or password and then try again.');
                    $feedback.foundation('reveal', 'open');
                },
                403: function () {
                    $feedback.find('.lead').html('Invalid username or password');
                    $feedback.find('.support').html('Access denied for the given combination of username and password. Please try again.');
                    $feedback.foundation('reveal', 'open');
                }
            }
        });
    });
});
</script>
{% endblock %}