{% extends 'layout.html' %}
{% block htitle %}Login - {{ super() }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="css/security.authentication.css"/>
{% endblock %}
{% block content %}
<form>
    <div class="inputs">
        <input name="u" type="email" placeholder="Email address" class=""/>
        <input name="p" type="password" placeholder="Password" class=""/>
    </div>
    <div class="actions">
        <button class="btn btn-primary">Login</button>
    </div>
</form>
{% endblock %}
{% block js %}
<script src="/js/login.js"></script>
{% endblock %}