@import '_theme';

@mixin header {
    font-weight: 300;
    text-transform: uppercase;
}

h1, h2 {
    @include header;
}

input, button, .btn {
    font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 300;
    border-radius: 0 !important;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    color: #000;
    background-color: transparent;
    border-bottom: 3px solid #99CC00;
    box-shadow: none;
}

.navbar .brand.logo {
    padding: 0;
    margin: 0 10px 0 0;
}

#nprogress .bar {
    z-index: 1031;
}
