[data-user-query] {
    &[data-user-query=""]:after {
        content: "";
    }

    &:after {
        content: " / " attr(data-user-query);
        color: #ccc;
    }
}

form.user.management.search {
    [name="query"] {
        border: none;
        border-bottom: 2px solid #ddd;
        box-shadow: none;

        &:hover {
            border-bottom-color: #33B5E5;
        }

        &:focus {
            border-bottom-color: #0099CC;
        }
    }
}

ul.user.management.list {
    list-style: none;
    margin-left: 0;
    overflow: hidden;

    li {
        position: relative;
        width: 260px;
        background-color: #fff;
        padding: 10px;
        margin: 0 10px 10px 0;
        border: 1px solid #ccc;

        .avatar {
            margin-right: 20px;

            img {
                height: 60px;
                border-radius: 100px;
            }
        }

        .name {
            position: absolute;
            left: 80px;
            right: 10px;
            bottom: 52%;
            font-size: 16px;
        }

        .roles {
            position: absolute;
            left: 80px;
            right: 10px;
            top: 52%;
        }
    }
}

form.user.management.edit {
    .avatar {
        float: right;
    }

    input[type="text"], input[type="password"] {
        font-size: 20px;
        min-height: 0;
        height: auto;
        line-height: 1em;
    }
}

.user-list.span3 {
    ul.user.management.list {
        li {
            float: none;
            width: auto;
            margin-right: 0;

            &.active {
                border-color: #0099CC;
                background-color: #0099CC;
                color: #fff;
            }
        }
    }
}