<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content = "width = device-width, initial-scale = 1.0, user-scalable = no" /> 
    <title>{% block htitle %}Nameless Education Platform{% endblock %}</title>
    <link rel="stylesheet" href="/vb/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/vb/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/css/hig.css"/>
    {% block css %}{% endblock %}
</head>
<body>
    <div class="container-fluid">
    {% block content %}{% endblock %}
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/common.js"></script>
    <script src="/vb/js/bootstrap.min.js"></script>
    {% block js %}
        {% if nep.user %}
            <script>wsUrl = 'ws://{{ nep.request.host }}/ws/beacon';</script>
            <script src="/js/management.beacon.js"></script>
            <script>
                $(document).ready(function () {
                    var uc = new UserCard();
                });
            </script>
        {% endif %}
    {% endblock %}
</body>
</html>