{% extends 'layout.html' %}
{% block htitle %}{{ super() }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="/css/beacon.css"/>
<link rel="stylesheet" href="/css/layout.css"/>
{% endblock %}
{% block content %}
<div class="row-fluid">
    <div class="span12">
        <article class="primary">
            {% block primary_content %}{% endblock %}
        </article>
    </div>
</div>
{% include 'hud.user.html' %}
{% endblock %}
{% block js %}
<script>wsUrl = 'ws://{{ nep.request.host }}/ws/beacon';</script>
<script src="/js/beacon.js"></script>
<script src="/js/hud.js"></script>
<script>
    $(document).ready(function () {
        var uc = new UserCard();
    });
</script>
{% endblock %}