{% extends 'layout.html' %}
{% block htitle %}Dashboard - {{ super() }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="css/dashboard.css"/>
{% endblock %}
{% block content %}
<div class="row">
    <div class="span3">
        <article class="user">
            <h1>{{ nep.user.name }}</h1>
        </article>
        <article class="mode">
            <ul>
                <li><a href="/management/beacon">Beacon</a></li>
            </ul>
        </article>
    </div>
    <div class="span9">
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$(document).ready(function () {

});
</script>
{% endblock %}