<article class="hud user stand-by">
    <div class="avatar"><img src="{{ nep.user.gravatar() }}?s=320" title="{{ nep.user.name }}"/></div>
    <div class="name">{{ nep.user.name }}</div>
    <nav class="mode">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="/beacon">Manage beacon messages</a></li>
            {% if 'master' in nep.user.roles %}
            <li><a href="/management/user/">Manage users</a></li>
            {% endif %}
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </nav>
    <div class="beacon">
        <div class="count"></div>
        <ul class="messages"></ul>
    </div>
    <a class="hide-button" title="Hide the user card">→</a>
</article>