<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content = "width = device-width, initial-scale = 1.0, user-scalable = no" /> 
    <title>{% block htitle %}Nameless Education Platform{% endblock %}</title>
    <link rel="stylesheet" href="/vb/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/vb/css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="/css/hig.css"/>
    {% block css %}{% endblock %}
</head>
<body>
    <nav class="navi main navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" href="/">Eryri</a>
        </div>
    </nav>
    <article class="container-fluid">
    {% block content %}{% endblock %}
    </article>
    <script src="/js/jquery.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/notifier.js"></script>
    <script src="/vb/js/bootstrap.min.js"></script>
    {% block js %}{% endblock %}
</body>
</html>