{% extends 'authenticated-layout.html' %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="/css/management.user.css"/>
{% endblock %}

{% block primary_content %}
<div class="row-fluid">
    <div class="span12 user-list">
        <h1 data-user-query>Users</h1>
        <form class="user management search">
            <input name="query" type="text" class="input-block-level" placeholder="type to start searching."/>
        </form>
        <ul class="user management list"></ul>
    </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="/js/management.user.js"></script>
{% endblock %}